<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <!-- Search Form Start -->
        <form action="/listings/search" method="GET" class="d-flex" style="gap: 6px;">
          <input
            type="text"
            name="query"
            placeholder="Search Listings"
            aria-label="Search"
            class="form-control"
            required
            style="max-width: 140px;"
          >
          <select name="filter" class="form-select" style="max-width: 100px;">
            <option value="title">Title</option>
            <option value="location">Location</option>
            <option value="price">Price (≤)</option>
          </select>
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <!-- Search Form End -->
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup">Sign up</a>
        <a class="nav-link" href="/login">Log in</a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
